<div class="side-nav shadow">
  <div class="nav-container">
    <div class="nav-item logo-holder">
      <img class="logo" src="../../../../assets/images/icon-logo.png">
    </div>
    <br>
    <a routerLink="/admin/dashboard" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-item">
      <div  class="nav-item">
        <img class="icon" src="https://img.icons8.com/material/24/000000/home.png">
        <p>Dashboard</p>
      </div>
    </a>
    <a routerLink="userProfiles" routerLinkActive="active-item">
      <div class="nav-item">
        <img class="icon" src="https://img.icons8.com/material/24/000000/user-male-circle.png">
        <p>User Profiles</p>
      </div>
    </a>
    <a routerLink="orders" routerLinkActive="active-item">
      <div class="nav-item">
        <img class="icon" src="https://img.icons8.com/material/24/000000/bill.png">
        <p>Orders</p>
      </div>
    </a>
    <a href="" routerLinkActive="active-item">
      <div class="nav-item">
        <img class="icon" src="https://img.icons8.com/material/24/000000/create-new-child-post.png">
        <p>Messages</p>
      </div>
    </a>
    <a href="" routerLinkActive="active-item">
      <div class="nav-item">
        <img class="icon" src="https://img.icons8.com/material/24/000000/dribbble.png">
        <p>Designs</p>
      </div>
    </a>
  </div>
</div>
