.side-nav{
  width: 200px;
  background: #FFFFFF;
  padding: 10px;
  height: 100vh;
  font-size: small;
  position: fixed;
}

.shadow{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}
.nav-container{
  height: 50px;
  width: 100%;
  display: block;
}
.nav-item{
  display: flex;
  align-content: center ;
  vert-align: middle;
  border-radius: 5px;
}
.icon{
  width: 18px;
  height: 18px;
  vertical-align: center;
  margin: 14px;
}
.nav-sub-item{

}

.active-item div{
  background: #e8e8e8;
  transition: 0.4s ease-in;
}
.nav-item:hover{
  background: #222222;
  transition: 0.2s ease-in;
}

.logo-holder{
  color: #F8B500;
  font-weight: bold;
}

.logo-holder .logo{
  width: auto;
  height: 70px;
  margin: 0 auto;
}
p{
  margin-top: auto !important;
}

a:hover{
  transition: 0.2s all ease-in;
}
.nav-item:nth-child(1):hover{
  background: none !important;
}