<div class="header">
  <a href="#">
      <img class="logo" src="assets/images/icon-logo.png" alt="" srcset="">
  </a>
  <div class="menu">
      <ul>
          <a href="#">
              <li routerLinkActive="bg-yellow">Do Your Tee</li>
          </a>
          <a routerLink="/" routerLinkActive="bg-yellow" [routerLinkActiveOptions]="{exact: true}">
              <li>Home</li>
          </a>
          <a routerLink="/shop" routerLinkActive="bg-yellow">
              <li>Shop</li>
          </a>
          <a routerLink="/about" routerLinkActive="bg-yellow">
              <li>About Us</li>
          </a>
          <a routerLink="/contact" routerLinkActive="bg-yellow">
              <li>Contact Us</li>
          </a>
      </ul>
      <a class="btn" href="/user/login">Login/Sign Up</a>
  </div>
</div>
