<div class="header">
  <a href="#">
      <img class="logo" src="assets/images/icon-logo.png" alt="" srcset="">
  </a>
  <div class="menu">
      <ul>
          <a href="#">
              <li>Do Your Tee</li>
          </a>
          <a routerLink="/">
              <li>Home</li>
          </a>
          <a routerLink="/shop">
              <li>Shop</li>
          </a>
          <a routerLink="/about">
              <li>About Us</li>
          </a>
          <a routerLink="/contact">
              <li>Contact Us</li>
          </a>
      </ul>
      <a class="btn" href="">Login/Sign Up</a>
  </div>
</div>
