<div class="main-content">
  <app-header></app-header>
  <div class="head color-white bg-overlay">
    <h1 class="color-blue">About Us</h1>
    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
    </h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="team">
    <h2 class="color-white">The Team</h2>
    <div class="team-member">
      <div class="avatar">
        <img src="../../assets/images/1x/user-f.png" alt="">
      </div>
      <h3 class="color-white">Sarah Michael</h3>
      <h4 class="color-white"><em>CEO</em></h4>
    </div>
    <div class="team-member">
      <div class="avatar">
        <img src="../../assets/images/1x/user-m.png" alt="">
      </div>
      <h3 class="color-white">John Cena</h3>
      <h4 class="color-white"><em>Founder</em></h4>
    </div>
    <div class="team-member">
      <div class="avatar">
        <img src="../../assets/images/1x/user-f.png" alt="">
      </div>
      <h3 class="color-white">Michael Jackson</h3>
      <h4 class="color-white"><em>CTO</em></h4>
    </div>
  </div>
  <div class="strategy">
    <div class="mission">
      <h2>Our Mission</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .</p>
    </div>
    <div class="vision">
        <h2>Our Vision</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .</p>
      </div>
      <div class="approach">
          <h2>Our Approach</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .</p>
        </div>
  </div>
  <app-pre-footer></app-pre-footer>
  <app-footer></app-footer>
</div>