<div class="analytics">
  <div class="spacer"></div>
  <div class="container">
    <div class="row">
      <div class="col-6">
          <mat-card style="width: 100%">
              <canvas
                baseChart
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType"
              >
              </canvas>
            </mat-card>
      </div>
      <div class="col-6">
        <mat-card style="width: 100%">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </mat-card>
      </div>
      <div class="col-12">
          <mat-card style="width: 100%">
              <div class="row">
                <div class="col-6">
                  <img src="../../../../assets/images/dollar-yellow.png" alt="" />
                </div>
                <div class="col-6">
                  <p>Total Earned:</p>
                  <h3 class="color-yellow">${{total}}</h3>
                </div>
              </div>
            </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <div class="row">
            <div class="col-6">
              <img src="../../../../assets/images/dollar-orange.png" alt="" />
            </div>
            <div class="col-6">
              <p>Total Pending:</p>
              <h3 style="color: orange">${{pending}}</h3>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <div class="row">
            <div class="col-6">
              <img src="../../../../assets/images/dollar-green.png" alt="" />
            </div>
            <div class="col-6">
              <p>Total Completed:</p>
              <h3 style="color: green">${{done}}</h3>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <div class="row">
            <div class="col-6">
              <img src="../../../../assets/images/dollar-red.png" alt="" />
            </div>
            <div class="col-6">
              <p>Total Cancelled:</p>
              <h3 style="color: red">${{cancelled}}</h3>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#393E46"
size = "large"
color = "#F8B500"
type = "ball-fall"
[fullScreen] = "true"
>
</ngx-spinner>
