<div class="main-content container">
  <div class="row">
    <div class="col-12">
      <div class="spacer" style="padding: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="width: 100%; text-align: center">
        <h2 class="color-blue">Your Queries</h2>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="display: grid; width: 100%">
        <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

          <!-- Cost Column -->
          <ng-container matColumnDef="sr">
            <th mat-header-cell *matHeaderCellDef> Serial No</th>
            <td mat-cell *matCellDef="let transaction; let i=index"> {{i+1}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="msg">
            <th mat-header-cell *matHeaderCellDef > Message</th>
            <td mat-cell *matCellDef="let transaction" > {{transaction.message.msg}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="fname">
            <th mat-header-cell *matHeaderCellDef>First Name </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.message.fname}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="lname">
            <th mat-header-cell *matHeaderCellDef> Last Name</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.message.lname}} </td>
          </ng-container>
          <!-- Item Column -->
          <ng-container matColumnDef="phn">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.message.phno}} </td>
          </ng-container>
          <!-- Item Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.message.email}} </td>
          </ng-container>
          <!-- Item Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.status}} </td>
          </ng-container>


          <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"
              class="example-first-header-row">
          </tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

    </div>
  </div>
  <div class="spacer">

  </div>
</div>

