.main-content {
  text-align: center;
  margin: 0 auto;

}

.example-card {
  max-width: 250px;
  background-color: #393E46;
  text-align: left;
  color: white;
  margin: 0.5%;
  display: inline-block;
}

.tab {
  height: 50px;
  width: 100px;
  margin: 1px;
  border: 0.5px solid grey;
  background: white;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.tab:hover {
  background: grey;
  color: white;
  transition: 0.5s all ease-in-out;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
