<div class="only">
  <a routerLink="/">
    <img class="logo" src="../../../assets/images/icon-logo.png">
  </a>
</div>
<div class="holder">
  <div class="login">
    <h2 class="color-grey"> Login</h2><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" matInput placeholder="Username/Email" >
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" type="password" matInput placeholder="Password" >
    </mat-form-field> <br><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a class="btn" >Login</a>
    </div><br>
    <h3>OR</h3>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a class="btn bg-blue" style="background-color: #3b5998" >Facebook</a>
      <a  class="btn bg-red" style="background-color: #FC3C3C" >Google</a>
    </div>
  </div>
  <div class="register">
    <h2 class="color-grey"> Signup</h2><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a class="btn bg-blue" style="background-color: #3b5998" >Facebook</a>
      <a  class="btn bg-red" style="background-color: #FC3C3C" >Google</a>
    </div> <br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" matInput placeholder="Username" >
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" matInput placeholder="Email" >
    </mat-form-field> <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" type="password" matInput placeholder="Password" >
    </mat-form-field> <br><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a class="btn" >Signup</a>
    </div><br>
  </div>
</div>
