<div class="only">
  <a routerLink="/">
    <img class="logo" src="../../../assets/images/icon-logo.png">
  </a>
</div>
<div class="holder">
  <div class="login">
    <h2 class="color-grey"> Login</h2><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input #email style="width: 100%;" matInput placeholder="Username/Email">
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input #pass style="width: 100%;" type="password" matInput placeholder="Password">
    </mat-form-field>
    <br><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a class="btn" (click)="auth.login(email.value, pass.value)">
        <button mat-raised-button color="accent">Login</button>
      </a>
    </div>
    <br>
    <h3>OR</h3>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a  (click)="loginWithFacebook()"  style="background-color: #3b5998">
        <button mat-raised-button color="primary">Facebook</button>
      </a>
      <a  (click)="loginWithGoogle()" style="background-color: #FC3C3C">
        <button mat-raised-button color="warn">Google</button>
      </a>
    </div>
  </div>
  <div class="register">
    <h2 class="color-grey">Signup</h2><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a (click)="loginWithFacebook()" style="background-color: #3b5998">
        <button mat-raised-button color="primary">Facebook</button>
      </a>
      <a  (click)="loginWithGoogle()" style="background-color: #FC3C3C">
        <button mat-raised-button color="warn">Google</button>
      </a>
    </div>
    <br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input #uname style="width: 100%;" matInput placeholder="Name">
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input #semail style="width: 100%;" matInput placeholder="Email">
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" style="width: 70%;">
      <input style="width: 100%;" #spass type="password" matInput placeholder="Password">
    </mat-form-field>
    <br><br>
    <div style="display: flex; width: 70%;justify-content: space-evenly; margin: 0 auto;">
      <a (click)="auth.signup(uname.value, semail.value, spass.value)">
        <button mat-raised-button color="accent">Signup</button>
      </a>
    </div>
    <br>
  </div>
</div>
