<div>
  <div class="head-main">
    <div class="content-box">
      <h1>
        Design Your Tee The Way You Want
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book.
      </p><br><br>
      <a href="" ><button mat-stroked-button><img src="https://img.icons8.com/material-outlined/24/000000/east-direction.png" color="primary"> Let's Go</button></a>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="main-content-home">
    <h1 class="color-blue">Do Your Tee</h1>
    <p>Follow the steps below to get your personlized tee.</p>
    <div class="disp-flex">
      <mat-card>
      <div class="steps ">
        <img src="assets/images/1x/girl 1.png" alt="" srcset="">
        <h3 class="color-blue">Step 1</h3>
        <h4>Pick up your phone and visit https://www.thetmakers.com/design</h4>
      </div>
      </mat-card>
      <mat-card>
      <div class="steps ">
        <img src="assets/images/1x/girl 2.png" alt="" srcset="">
        <h3 class="color-blue">Step 2</h3>
        <h4>Choose the color and type of shirt you want to design for yourself.</h4>
      </div>
      </mat-card>
    </div>
    <div class="disp-flex">
      <mat-card>
      <div class="steps ">
        <img src="assets/images/1x/girl 6.png" alt="" srcset="">
        <h3 class="color-blue">Step 3</h3>
        <h4>Choose the vector design from our collection or design it yourself using our tools.</h4>
      </div>
      </mat-card>
      <mat-card>
      <div class="steps ">
        <img src="assets/images/1x/girl 3.png" alt="" srcset="">
        <h3 class="color-blue">Step 4</h3>
        <h4>Continue to cart and get done with the payment method and information stuff.</h4>
      </div>
      </mat-card>
    </div>
    <div style="display: inline-flex" >
      <mat-card style="width: 400px; height: 400px;">
      <div class="steps" style="width: fit-content">
        <img src="assets/images/1x/girl 5.png" alt="" srcset="">
        <h3 class="color-blue">And We Are Done!</h3>
        <h4>You'll receive your designed shirt within 5-10 working days right at your doorstep.</h4>
      </div>
      </mat-card>
    </div>


  </div>
</div>
<div class="bottom">
  <a class="btn"><button mat-raised-button color="accent"><img src="https://img.icons8.com/material-outlined/24/000000/design--v1.png"> Let's Go</button></a>
</div>

