.pre-footer {
  width: 100%;
  background: #393E46;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}
td{
  width: 27%;
  padding-left: 5%;
  vertical-align: top;
}
.pre-footer a{
  color: white;
  margin-top: 5%;
  display: block;
  transition: 0.5s ease-in;
}
.pre-footer a:hover{
  color: #F8B500;
  font-weight: lighter;
  transition: 0.5s ease-in;
}
td:nth-child(1){
  padding-right: 5%;
}
td:nth-child(2){
  width: 20%;
}
