<div class="pre-footer">
  <table>
    <tr>
      <td>
        <h2 class="color-blue">About Us</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </td>
      <td>
        <h2 class="color-blue">Quick Links</h2>
        <a href="">Do Your Tee</a>
        <a href="">Shop</a>
        <a href="">Trending</a>
        <a href="">Contact Us</a>
      </td>
      <td>
        <h2 class="color-blue">Contact Us</h2>
        <p>contact@domain.com</p>
        <p>03331234567</p>
        <p>Islamabad, Pakistan</p>
      </td>
    </tr>
  </table>
</div>
