<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="spacer" style="padding: 10px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="width: 100%; text-align: center">
        <h2>Your Orders</h2>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="display: grid; width: 100%">
        <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

          <!-- Cost Column -->
          <ng-container matColumnDef="sr">
            <th mat-header-cell *matHeaderCellDef> Serial No</th>
            <td mat-cell *matCellDef="let transaction; let i = index;"> {{ i }} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cart.length}} Shirts </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.total | currency}} </td>
          </ng-container>
          <!-- Cost Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.status }} </td>
          </ng-container>
          <!-- Item Column -->
          <ng-container matColumnDef="exp">
            <th mat-header-cell *matHeaderCellDef> Expected Delivery</th>
            <td mat-cell *matCellDef="let transaction"> {{getExpectedDate(transaction.date)}} </td>
          </ng-container>


          <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"
              class="example-first-header-row">
          </tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
  </div>
<div class="spacer"></div>
</div>
